.container {
    display: flex;
    justify-content: right;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    margin-bottom: 50px;
}

.btnSearch {
    background-color: black;
    color: white;
    border: 1px solid darkgreen;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.btnSearch:hover {
    background-color: white;
    color: black;
}


