#logoHenry {
  margin-right: 20px;
}

.nav-header {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(53, 58, 64);
}

.nav-title {
  color: white;
}