.container {
    display: flex;
    justify-content: right;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 5px;

}

.btnSearch {
    background-color: rgb(53, 58, 64);
    color: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.btnSearch:hover {
    background-color: white;
    color: black;
}


